<a routerLink="../"><button mat-raised-button>Back</button></a>
{{ today | date:'yyyy-MM-dd HH:mm:ss.SSSSS' }}
<form [formGroup]="expenseForm" (ngSubmit)="addExpense()">
    <input  type="select"
    />
    <input />


    <div class="w-2/3 flex flex-col gap-10">
       <div class=""> <label for="price" class="block text-sm font-medium text-gray-700">Price</label>
        <div class="relative mt-1 rounded-md shadow-sm">
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            <span class="text-gray-500 sm:text-sm">$</span>
          </div>
          <input formControlName="cost" type="text" name="price" id="price" class="block rounded-md border-gray-300 border-2 pl-7 py-2 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="eg. 0.0">
        </div></div>
          <div class="  right-0  items-center">
            <label for="category" class="block text-sm font-medium text-gray-700">Category</label>
            <select formControlName="category" id="currency" name="category" class=" rounded-md border-2 bg-transparent py-2 pl-2 pr-7 text-gray-500 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="select category">
              <option>Food</option>
              <option>Utilities</option>
              <option>Groceries</option>
              <option>Transport</option>
            </select>
          </div>
        
      </div>
    <button class="mt-8" mat-raised-button type="submit">Submit</button>
</form>