
<div class="p-10 text-3xl text-center">Welcome to your dashboard</div>

<div class="justify-center flex gap-10">
<a routerLink="../addExpensePage" class=" flex  rounded-lg hover:bg-gray-50"><button class="p-8" mat-raised-button><div >Add an expense</div></button> </a>
<a routerLink="../limits" class="flex items-start rounded-lg hover:bg-gray-50"><button class="p-8" mat-raised-button >Add/Change Spending Limits</button> </a>
<a routerLink="../history" class=" flex items-start rounded-lg hover:bg-gray-50"><button class="p-8" mat-raised-button >View all expenses</button> </a></div>


