<p>dashboard works!</p>
<div class="p-10 text-3xl text-center">Welcome to your dashboard {{appService.userId}}</div>

<div class="justify-center flex gap-10">
<a routerLink="../addExpensePage" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50"><button mat-raised-button >Add an expense</button> </a>
<a routerLink="../limits" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50"><button mat-raised-button >Add/Change Spending Limits</button> </a>
<a routerLink="../history" class="-m-3 p-3 flex items-start rounded-lg hover:bg-gray-50"><button mat-raised-button >View all expenses</button> </a></div>


