<div class="w-1/2 m-auto"><div class="text-center text-3xl p-2">Spending limits</div>
<a routerLink="../"><button mat-raised-button>Back</button></a>
<div *ngIf="appService.userId !== undefined && appService.userLimits !== undefined" class="bg-gray-100 m-2 p-4">
  <div class="text-blue-500 text-xl text-center py-2">Time limits</div>

  <mat-card class="example-card">
    <mat-card-content>
      <h2 class="example-h2">Daily Limit</h2>
      <div>{{this.findSpent('daily')}} / {{this.appService.userLimits[0]?.daily}}</div>
      <section class="example-section">
        <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="getProgress('daily')"
          [bufferValue]="bufferValue">
        </mat-progress-bar>
      </section>
    </mat-card-content>
    <label for="daily"  class="block  text-sm font-medium text-gray-700">Type daily limit</label>
    <input  [(ngModel)]="list['daily']" id="daily" name="daily" type="text"  class="block rounded-md border-gray-300 border-2 pl-7 py-2 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="eg. 0.0">
    <button mat-raised-button class="bg-red-100 p-4 m-2" (click)="setLimit('daily')">Set limit</button>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-content>
      <h2 class="example-h2">Monthly Limit</h2>
      <div>{{this.findSpent('monthly')}} / {{this.appService.userLimits[0]?.monthly}}</div>
      <section class="example-section">
        <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="getProgress('monthly')"
          [bufferValue]="bufferValue"
        >
        </mat-progress-bar>
      </section>
    </mat-card-content>
    <label for="monthly"  class="block  text-sm font-medium text-gray-700">Type monthly limit</label>
    <input  [(ngModel)]="list['monthly']" id="monthly" name="daily" type="text"  class="block rounded-md border-gray-300 border-2 pl-7 py-2 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="eg. 0.0">
    <button mat-raised-button class="bg-red-100 p-4 m-2" (click)="setLimit('monthly')">Set limit</button>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-content>
      <h2 class="example-h2">Yearly Limit</h2>
      <div>{{this.findSpent('yearly')}} / {{this.appService.userLimits[0]?.yearly}}</div>

      <section class="example-section">
        <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="getProgress('yearly')"
          [bufferValue]="bufferValue"
        >
        </mat-progress-bar>
      </section>
    </mat-card-content>
    <label for="yearly"  class="block  text-sm font-medium text-gray-700">Type yearly limit</label>
    <input  [(ngModel)]="list['yearly']" id="yearly" name="yearly" type="text"  class="block rounded-md border-gray-300 border-2 pl-7 py-2 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="eg. 0.0">
    <button mat-raised-button class="bg-red-100 p-4 m-2" (click)="setLimit('yearly')">Set limit</button>
  </mat-card>


</div>

<!-- <div class="w-full bg-green-100 h-6 flex"><div class="bg-green-600 basis-${value}%"></div></div>
<div class="mdc-linear-progress__bar-inner"></div>
  <mat-card class="example-card">
    <mat-card-content>
      <h2 class="example-h2">Daily Limit</h2>
  
      <section class="example-section">
        <mat-progress-bar
            class="example-margin"
            [color]="color"
            [mode]="mode"
            [value]="dailyValue"
            [bufferValue]="bufferValue">
        </mat-progress-bar>
      </section>
    </mat-card-content> -->

<div *ngIf="this.appService.userLimits !== undefined" class="bg-gray-100 m-2 p-4">
  <div class="text-blue-500 text-xl text-center py-2">Category limits</div>
  <mat-card class="example-card">
    <mat-card-content>
      <h2 class="example-h2">Food Limit</h2>
      <div>{{this.findSpent('Food')}} / {{this.appService.userLimits[0]?.Food}}</div>
      <section class="example-section">
        <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="getProgress('Food')"
          [bufferValue]="bufferValue"
        >
        </mat-progress-bar>
      </section>
    </mat-card-content>
    <label for="Food"  class="block  text-sm font-medium text-gray-700">Type Food limit</label>
    <input  [(ngModel)]="list['Food']" id="Food" name="Food" type="text"  class="block rounded-md border-gray-300 border-2 pl-7 py-2 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="eg. 0.0">
    <button mat-raised-button class="bg-red-100 p-4 m-2" (click)="setLimit('Food')">Set limit</button>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-content>
      <h2 class="example-h2">Grocery Limit</h2>
      <div>{{this.findSpent('Groceries')}} / {{this.appService.userLimits[0]?.Groceries}}</div>
      <section class="example-section">
        <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="getProgress('Groceries')"
          [bufferValue]="bufferValue"
        >
        </mat-progress-bar>
      </section>
    </mat-card-content>
    <div>value: {{list['groceries']}}</div>
    <label for="groceries"  class="block  text-sm font-medium text-gray-700">Type grocery limit</label>
    <input  [(ngModel)]="list['Groceries']" id="groceries" name="groceries" type="text"  class="block rounded-md border-gray-300 border-2 pl-7 py-2 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="eg. 0.0">
    <button mat-raised-button class="bg-red-100 p-4 m-2" (click)="setLimit('Groceries')">Set limit</button>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-content>
      <h2 class="example-h2">Utilities Limit</h2>
      <div>{{this.findSpent('Utilities')}} / {{this.appService.userLimits[0]?.Utilities}}</div>
      <section class="example-section">
        <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="getProgress('Utilities')"
          [bufferValue]="bufferValue"
        >
        </mat-progress-bar>
      </section>
    </mat-card-content>
    <label for="utilities"  class="block  text-sm font-medium text-gray-700">Type utility limit</label>
    <input  [(ngModel)]="list['Utilities']" id="utilities" name="utilities" type="text"  class="block rounded-md border-gray-300 border-2 pl-7 py-2 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="eg. 0.0">
    <button mat-raised-button class="bg-red-100 p-4 m-2" (click)="setLimit('Utilities')">Set limit</button>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-content>
      <h2 class="example-h2">Transport Limit</h2>
      <div>{{this.findSpent('Transport')}} / {{this.appService.userLimits[0]?.Transport}}</div>
      <section class="example-section">
        <mat-progress-bar
          class="example-margin"
          [color]="color"
          [mode]="mode"
          [value]="getProgress('Transport')"
          [bufferValue]="bufferValue"
        >
        </mat-progress-bar>
      </section>
    </mat-card-content>
    <label for="transport"  class="block  text-sm font-medium text-gray-700">Type transport limit</label>
    <input  [(ngModel)]="list['Transport']" id="transport" name="transport" type="text"  class="block rounded-md border-gray-300 border-2 pl-7 py-2 pr-12 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" placeholder="eg. 0.0">
    <button mat-raised-button class="bg-red-100 p-4 m-2" (click)="setLimit('Transport')">Set limit</button>
  </mat-card>
</div>
</div>
<button (click)="setLimit('Category')">Add limit</button>